#page{

    background-image: url(https://images.unsplash.com/photo-1521114978264-2223e08aa0d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-size: cover;
    height: 100vh;
}

#logo{

position: absolute;
width:9rem;
left:4rem;
top:1.2rem;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 4rem;
line-height: 4rem;

color: #0098FB;
}
#header{
    display: flex;
    justify-content: right;
}
a{
    padding: 2rem;
    font-size: large;
   font-family: 'Serif-sans';
font-style: normal;
font-weight: 400;
font-size: 2rem;
line-height: 4rem;

color: #e8ecee; 
   
}
#contents{
    background-color: azure;
    height: 75vh;
    margin: 5rem 5rem 10rem 5rem;
    opacity: 0.90;
    border-radius: 4rem;
    display: flex;
    justify-content: left;
    padding: 2rem;
}

#left{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
#right{
    
    
    width: 150vw;
    border-radius: 20rem;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1415&q=80);
}
#huge{
 position: relative;
 
opacity: 1;
font-family: 'Times-new-Roman';
font-style: normal;
font-weight: 800;
font-size: 4rem;
line-height: 4rem;

color: #0a9be4;
}   
#description{
     padding: 2rem;
    font-size: large;
   font-family: 'Serif-sans';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 4rem;

color: #000406; 
   
}
#button{
    position: relative;
    height: 10rem;
    width: 15rem;
    left: 1.2rem;
text-align: center;
font-size: x-large;
font: 2rem;

background: #0098FB;
border-radius: 10rem;
}